@import '../../styles/variables.scss';

.footer {
  width: 100%;
  padding: 25px 0;
  background: $primary;

  &__link {
    display: block;
    text-align: center;
    color: $white;
    text-align: center;

    &:hover {
      color: $grayLight;
      text-decoration: underline;
    }
  }
}
